@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Workspace Naija. This is a fast and Reliable Platform for your search for workspace in Nigeria at your fingertip </a>.</p>
</div>
